---
title: Gameplay Mechanics
---

<p>This page outlines the gameplay changes or uses present in The Frozen North, as well as some of the features that make the world interesting and unique. Features that are planned for the future may also be shown here.</p>

<h4>Class & Ability Information</h2>
<hr>

<div class="row mb-3">
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Ability Benefits", "ability-benefits", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Class Features", "class-features", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Skill Usage", "skill-usage", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Feat Changes", "feat-changes", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Spell Changes", "spell-changes", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Summon Changes (WIP)", "summon-changes", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
</div>

<h4>Gameplay Information (WIP)</h2>
<hr>

<div class="row mb-3">
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Loot", "loot", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Party Revival", "party-revival", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Treasure Maps", 'https://docs.google.com/document/d/1MuobXGEgmDkli41MOa0MP3_f9WqZEI0bc1aZkjuPsM4/edit?tab=t.0#heading=h.np2zyxxa79ba', class: "btn btn-lg w-100 btn-primary", target: '_blank' %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Random Encounters", "random-encounters", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Henchman and Followers", "henchman-and-followers", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Fast Travel", "fast-travel", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
    <div class="col-md-4 col-6 mb-2">
        <%= link_to "Housing", "housing", class: "btn btn-lg w-100 btn-primary disabled" %>
    </div>
</div>