---
title: Mechanics
---

<p>This page outlines the gameplay changes or uses present in The Frozen North, as well as some of the features that make the world interesting and unique. Features that are planned for the future may also be shown here.</p>

<h2>Class & Ability Information</h2>
<hr>

<div class="row mb-3">
    <div class="col">
        <%= link_to "Ability Benefits", "mechanics/ability-benefits", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col">
        <%= link_to "Class Changes", "mechanics/class-changes", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col">
        <%= link_to "Skill Usage", "mechanics/skill-usage", class: "btn btn-lg w-100 btn-primary" %>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <%= link_to "Feat Changes", "mechanics/feat-changes", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col">
        <%= link_to "Spell Changes", "mechanics/spell-changes", class: "btn btn-lg w-100 btn-primary" %>
    </div>
    <div class="col">
        <%= link_to "Summon Changes", "mechanics/summon-changes", class: "btn btn-lg w-100 btn-primary" %>
    </div>
</div>

<h2>Gameplay Information</h2>
<hr>

